.span-18.last{:align => "right"}
  %h2 Редакция на профил
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  .span-18.last{:align => "center"}
    = devise_error_messages!
    
  .span-9.input-label{:align => "right"}
    потребителско име
  .span-9.input-holder.last{:align => "left"}
    = f.text_field :username
    
  .span-9.input-label{:align => "right"}
    e-mail
  .span-9.input-holder.last{:align => "left"}
    = f.email_field :email
    
  .span-9.input-label{:align => "right"}
    парола
    %br
    %i (оставете го празно ако не желаете да я променяте)
  .span-9.input-holder.last{:align => "left"}
    = f.password_field :password
    
  .span-9.input-label{:align => "right"}
    парола отново
  .span-9.input-holder.last{:align => "left"}
    = f.password_field :password_confirmation
    
  .span-9.input-label{:align => "right"}
    реално име
  .span-9.input-holder.last{:align => "left"}
    = f.text_field :name
    
  .span-9.input-label{:align => "right"}
    %b актуална парола
    %br
    %i (нужна за запазване на промените)
  .span-9.input-holder.last{:align => "left"}
    = f.password_field :current_password
  
  .span-18.last{:align => "center"}
    = f.submit "запазване"

.span-18.last{:align => "right"}
  %br= render :partial => "devise/shared/links"
