.span-18.last{:align => "right"}
  %h2 смяна на парола
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  .span-18.last{:align => "center"}
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    
  .span-9.input-label{:align => "right"}
    %b нова парола
  .span-9.input-holder.last{:align => "left"}
    = f.password_field :password
    
  .span-9.input-label{:align => "right"}
    %b нова парола отново
  .span-9.input-holder.last{:align => "left"}
    = f.password_field :password_confirmation
  
  .span-18.last{:align => "center"}
    = f.submit "смяна на парола"

.span-18.last{:align => "right"}
  %br= render :partial => "devise/shared/links"