- if @accent.image_title?
  .span-19.image-title.last{:align => "right"}
    = image_tag(@accent.image_title.url(:medium))
.span-18.last{:align => "right"}
  %h3
    = @accent.title 
.span-5#gallery{:align => "center"}
  - @accent.accent_photos.each do |photo|
    = link_to image_tag(photo.file.url(:thumb)), photo.file.url(:medium)
    .clear
  &nbsp;
.span-13.last{:align => "justify"}
  = raw @accent.text.gsub(/\n/, '<br>')
.span-18.last{:align => "center"}
  = render "shared/comments"
  
:javascript
  $(function() {
  	$('#gallery a').lightBox(); // Select all links in object with gallery ID
  });