- semantic_form_for [:admin, @magazine], :html => { :multipart => true } do |form|
  = form.inputs :name => "Basic" do
    = form.input :name
    = form.input :cover   
    = form.input :active   
  = form.buttons do
    = form.commit_button