- semantic_form_for [:admin, @magazine], :html => { :multipart => true } do |form|
  = form.inputs :name => "Basic" do
    = form.input :name
    = form.input :home_text
    = form.input :cover
    = form.input :month
    = form.input :active
  = form.buttons do
    = form.commit_button