= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .span-6{:align => "right"}
    = link_to image_tag("/images/f_book_btn.png", :height => "23"), omniauth_authorize_path(resource_name, :facebook)
  
  .span-2{:align => "right"}
    .input-label
      email
  .span-3{:align => "left"} 
    .input-holder
      = f.email_field :email
  
  .span-2{:align => "right"}
    .input-label
      парола
  .span-3{:align => "left"}
    .input-holder
      = f.password_field :password
  .span-2.last{:align => "right"}
    = f.submit "влез"
    
  .span-18.last{:align => "right"}
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
      запомни ме
      
.span-18.last{:align => "right"}
  = render :partial => "devise/shared/links"
  
.span-18.last{:align => "right"}
  %br
  %p мислех си да ви пусна парчето "9 милиона мишлета" на трио "спешен случай" като начало.
  %p после да ви кажа защо няма да пишем главни букви... но после прибавихме фингърa на корицата, а на коледа отново да си говорим за досиета, котараци и пунктуационни догми... неее, не мисля.
  %p и въпреки това се изкушавам да цитирам целия текст, но само от погледа на Градския ми стана ясно, че не е добра идея. нека все пак ви запея „колко плач, колко сняг помнят душите ни, а светът зад стената си свиркаше”... ама „карай, джони, карай – всичко тече, но уви, не всичко се пие...” 
  %p е, стената сега отдавна я няма, или поне така ни казват; всичко пак си тече... и леле майко, как се пие... как се пие, как се простее, как се друса... и как светът все така продължава да си свирка (колкото и условно да звучи това). 
  %p не че и тук няма свирки, има... ама предимно от лъскавите курви или от ония черните, невчесаните. на околовръстното, дето се топлят на запалени гуми...
  %p няма. няма да бъдем поредните циници, които ще обругават изтънченото ви литературно ухо с поредица от мръсни думи, но знайте, че когато някъде се споменават „курви, задници и гадни комунисти” – то става дума за „курви, задници и гадни комунисти”. нещата се наричат с истинските им имена. ние етикети не слагаме. мишокът си е мишок.
  няколко милиона мишоци са си няколко милиона мишоци. 
  %br
  който не се счита за такъв – браво!
  %br
  който се обижда – лошо!
  %br
  на който не му дреме – най-лошо!
  %br
  разбираме се на никого да не изписваме вежди, защото често така се вадят очи… 
  %br
  ние искаме само да си поговорим. за това не какво мислим (защото хората прекалено много експлоатират тази дума), а как се чувстваме, по какъв начин гледаме на нещата. 
  %br
  остана само да преминете през процеса на регистрация - все пак и ние искаме да знаем с кого си говорим.
  %br
  приятно четене!
  %br
  %br
  = render :partial => "devise/shared/links"
