!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      = yield :title
      helpus.bg
    %link{:href => "http://fonts.googleapis.com/css?family=Cuprum&subset=cyrillic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/images/helpus_icon.png", :rel => "icon", :type => "image/x-icon"}
    %link{:href => "/images/helpus_icon.png", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "/images/helpus_icon.png", :rel => "bookmark", :type => "image/x-icon"}
    = stylesheet_link_tag "ie", "print", "screen", "application", "jquery.lightbox-0.5"
    = formtastic_stylesheet_link_tag
    = javascript_include_tag "jquery-1.4.4", "application", "jquery.lightbox-0.5.js", "iepngfix_tilebg", "http://connect.facebook.net/bg_BG/all.js#xfbml=1", "jquery-ui-1.8.9.custom.min"
    = csrf_meta_tag
    = yield :meta

  %body{:onload => "fixContent();"}
    .wrap{:align => "center"}
      .span-24.header.last
        .span-11.header-flash
          %object{:classid => "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", :codebase => "http://active.macromedia.com/flash5/cabs/swflash.cab#version=5,0,0,0", :height => "72", :width => "392"}
            %param{:name => "movie", :value => "/flash/banner_1.swf"}
              %param{:name => "play", :value => "true"}
                %param{:name => "loop", :value => "true"}
                  %param{:name => "quality", :value => "high"}
                    %param{:name => "scale", :value => "noborder"}
                      %param{:name => "wmode", :value => "transparent"}
                        %embed{:height => "72", :loop => "true", :play => "true", :pluginspage => "http://www.macromedia.com/shockwave/download/index.cgi?p1_prod_version=shockwaveflash", :quality => "high", :src => "/flash/banner_1.swf", :width => "392", :scale => "noborder", :wmode => "transparent"}
        .span-13.last{:align => "right"}
          = image_tag ("/images/head_flash.png"), :alt => "helpus.bg", :title => "helpus.bg", :border => "0", :height => "90", :width => "503"
        .span-24.last{:align => "right"}
          = image_tag ("/images/slogan.png"), :alt => "днешния век е век на свободата", :title => "днешния век е век на свободата", :border => "0", :height => "35", :width => "752"
      .span-24.content.last
        .span-5
          = yield :sidebar
          &nbsp;
        .span-18.last
          = yield :main_menu
          .span-16.page-content.last
            - show_flash
          = yield
        .clear
      .span-24.footer.last
        .footer_line{:align => "left"}
        %a{:class => "a2", :href => "javascript:void(0)", :onclick => "document.getElementById('light-terms-global').style.display='block';document.getElementById('fade').style.display='block'"} условията за ползване
        |
        %a{:class => "a2", :href => "javascript:void(0)", :onclick => "document.getElementById('light-terms-comments').style.display='block';document.getElementById('fade').style.display='block'"} правилата за коментиране
        |
        %a{:class => "a2", :href => "http://welldoers.eu", :target => "_blank"} welldoers
      .span-24
        #light-terms-global.white_content
          .span-2
            &nbsp;
          .span-20.last{:align => "justify"}
            = render :partial => "shared/terms_global"
            %a{:href => "javascript:void(0)", :onclick => "document.getElementById('light-terms-global').style.display='none';document.getElementById('fade').style.display='none'"} затвори
        #light-terms-comments.white_content
          .span-2
            &nbsp;
          .span-20.last{:align => "justify"}
            = render :partial => "shared/terms_comments"
            %a{:href => "javascript:void(0)", :onclick => "document.getElementById('light-terms-comments').style.display='none';document.getElementById('fade').style.display='none'"} затвори

#fade.black_overlay
